.contact {
  display: flex;
  flex-direction: column;
  font-size: 34rpx;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 100rpx 40rpx;
}

.contact-pic-box {
  width: 600rpx;
  align-content: center;
  border-radius: 20rpx;
  background-color: rgb(255, 213, 33);
  padding: 0 30rpx;
  margin-bottom: 150rpx;
  box-shadow: 20rpx 20rpx 10rpx 0 gray;
}

.contact Text {
  display: block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40rpx;
  line-height: 55rpx;
}

.contact-pic-content {
  margin-top: 40rpx;
}

.contact-pic {
  width: 500rpx;
  height: 600rpx;
  margin: 40rpx 0;
  border-radius: 20rpx;
}

.contact-content {
  background-color: rgb(255, 213, 33);
  align-content: center;
  justify-content: center;
  width: 660rpx;
  height: auto;
  border-radius: 20rpx;
  box-shadow: 20rpx 20rpx 10rpx 0 gray;
}
