.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("../../assets/images/backgroundPic.jpg") no-repeat center
    center;
  background-size: cover;
}

/* 内容区域需要留出底部导航栏的空间，避免被遮住 */
.content {
  flex: 1;
  overflow: auto;
  padding-bottom: calc(env(safe-area-inset-bottom));
}
