.bottom-tab-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 110rpx;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  z-index: 1000;
  padding-top: 20rpx;
  padding-bottom: 4vh;
}

.tab-bar-item {
  // flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  border-radius: 20rpx;
  background: linear-gradient(#ffffff, yellow);
  border: #000 solid 2rpx;
  height: 100rpx;
  width: 200rpx;
  box-shadow: 5rpx 5rpx 5rpx;
}

.tab-text {
  display: block;
  font-size: 32rpx;
  letter-spacing: 5rpx;
}

.tab-bar-item.active {
  transform: scale(1.08);
  font-weight: 600;
  color: #000;
  box-shadow: 10rpx 10rpx 10rpx;
}

.tab-icon {
  height: 50rpx;
  width: 50rpx;
  object-fit: contain;
}
