page {
  background-color: rgb(255, 243, 197);
}

.page-header {
  height: 170rpx;
  width: 100%;
  background-color: rgb(221, 189, 62);
}

.title {
  float: left;
  font-weight: 700;
  margin-bottom: 70rpx;
  margin-top: 100rpx;
  font-size: 40rpx;
  margin-left: 208rpx;
}

.back-btn {
  float: left;
  background-color: rgb(221, 189, 62);
  margin-top: 80rpx;
  font-size: 35rpx;
}

wx-button:after {
  border: none !important;
}

.content {
  float: left;
  display: block;
  font-size: 34rpx;
  text-align: center;
  text-indent: 2em;
  margin: 100rpx 40rpx;
}

.notifications-page {
  color: black !important;
}
