page {
  background-color: rgb(255, 243, 197);
}

.page-header {
  height: 170rpx;
  width: 100%;
  background-color: rgb(221, 189, 62);
}

.title {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 40rpx;
  margin: 0;
}

.back-btn {
  position: absolute;
  left: 20rpx;
  top: 70%;
  transform: translateY(-50%);
  background-color: rgb(221, 189, 62);
  font-size: 35rpx;
}

wx-button:after {
  border: none !important;
}

.content {
  float: left;
  display: block;
  font-size: 34rpx;
  text-align: center;
  text-indent: 2em;
  margin: 100rpx 40rpx;
}

.notifications-page {
  color: black !important;
}